.main {
    padding-top: 180px;
    width: 480px;
    height: 610px;
    margin: 0 auto;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    composes: flexColumn;
    gap: 24px;
}

.aside {
    composes: flexColumn;
    gap: 16px;
}

.linkWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}