.wrap {
    background: #1C1C21;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    padding: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.placement {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numAndDate {
    composes: placement;
}

.name {
    composes: placement;
}

.imgAndCost {
    composes: placement;
}

.cost {
    composes: placement;
    gap: 8px;
}