.article {
    composes: article from '../app/app.module.css';
}

.confirmSection {
    display: flex;
    justify-content: right;
    align-items: center;
}

.svgWrap > svg {
    width: 36px;
    height: 36px;
}