.article {
    composes: article from '../app/app.module.css';
}

.section {
    height: 656px;
    overflow: auto;
    composes: scroll from '../app/app.module.css';
}

.section::-webkit-scrollbar-track {
    margin: 96px 0 80px 0;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.listItem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.listItem:first-child {
    padding-left: 32px;
}

.listItem:last-child {
    padding-left: 32px;
}