.content {
    width: 320px;
}

.link {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
}

.activeLink {
    color: #fff;
}

.button {
    composes: link;
    border: none;
    padding: 0;
    background-color: inherit;
    cursor: pointer;
}

.asideText {
    width: 320px;
    opacity: .4;
}