.content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    composes: scroll from '../../../app/app.module.css';
    padding-right: 8px;
    height: 892px;
    overflow: auto;
}

.content::-webkit-scrollbar-track {
    margin-bottom: 148px;
}