.content {
    display: flex;
    flex-direction: column;

    composes: scroll from '../../../app/app.module.css';
    padding-right: 8px;
    overflow: auto;
}

.inFeed {
    composes: content;
    gap: 16px;
    height: 892px;
}

.inFeed::-webkit-scrollbar-track {
    margin-bottom: 148px;
}

.inProfile {
    composes: content;
    gap: 24px;
    height: 948px;
}

.inProfile::-webkit-scrollbar-track {
    margin-bottom: 80px;
}