.bunSection {
    height: 80px;
}

.listSizes {
    height: 464px;
    overflow: auto;
    composes: scroll from '../../app/app.module.css';
}

.listPlacement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.list {
    composes: listSizes listPlacement;
}

.listItem {
    width: 568px;
    display: flex;
    align-items: center;
    gap: 8px;
}