.sizes {
    height: 464px;
    overflow: auto;
    composes: scroll from '../../app/app.module.css';
}

.placement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.list {
    composes: sizes placement;
}

.listItem {
    width: 568px;
    display: flex;
    align-items: center;
    gap: 8px;
}