.wrap {
    height: 716px;
    padding: 40px;
}

.header {
    height: 64px;
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}