.wrap {
    height: 716px;
    padding: 40px;
}

.header {
    height: 64px;
    display: flex;
    align-items: center;
}

.list {
    padding-right: 24px;
    height: 312px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}