.wrap {
    height: 538px;
    padding: 40px 40px 60px 40px;
}

.header {
    height: 64px;
    display: flex;
    align-items: center;
}

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    text-align: center;
}

.stats {
    display: flex;
    gap: 20px;
}