.article {
    composes: article from '../app/app.module.css';
}

.content {
    height: 716px;
    overflow: auto;
    composes: scroll from '../app/app.module.css';
}

.content::-webkit-scrollbar-track {
    margin-bottom: 52px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px 24px;
}