.article {
    composes: article from '../app/app.module.css';
}

.content {
    height: 796px;
    overflow: auto;
    composes: scroll from '../app/app.module.css';
}

.content::-webkit-scrollbar-track {
    margin-bottom: 132px;
}

.tabs {
    display: flex;
}