.placement {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient {
    composes: placement;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
}

.background {
    composes: placement;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #131316;
    border: 2px solid #22113a;
}

.img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
}